//! **************************************************************************
// Written by: Map O.76xd on Fri Apr 26 12:07:07 2013
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "N6" LEVEL 1;
COMP "VS" LOCATE = SITE "P7" LEVEL 1;
COMP "up" LOCATE = SITE "A8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "U16" LEVEL 1;
COMP "B<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "B<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "G<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "G<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "G<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "R<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "R<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "R<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "down" LOCATE = SITE "B8" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "RESET" LOCATE = SITE "T10" LEVEL 1;
COMP "ifhighScore" LOCATE = SITE "T5" LEVEL 1;
COMP "num<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "num<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "num<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "num<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "num<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "num<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "num<6>" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

